.HomePage {
  width: 100vw;
  height: 100vh;
}

.VideoPlayer {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.Container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(14, 18, 33, 0.4);
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
}

.MiddleContainer {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Search {
  margin: 1rem 0;
}
